name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        # See the supported Node.js release schedule at https://nodejs.org/en/about/releases
        node-version: [ 20, 22, 24 ]
        kafka-image: [ "confluentinc/cp-kafka:7.9.5", "confluentinc/cp-kafka:8.1.1" ]
        # confluentinc/cp-kafka:7.9.5 is Kafka 3.9.1
        # confluentinc/cp-kafka:8.1.1 is Kafka 4.1.1
        # https://docs.confluent.io/platform/current/installation/versions-interoperability.html

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build --if-present

      - name: Run unit tests
        if: matrix.node-version != 24 || matrix.kafka-image != 'confluentinc/cp-kafka:7.9.5'
        env:
          KAFKA_IMAGE: ${{ matrix.kafka-image }}
        run: npm test

      - name: Run unit tests with coverage
        if: matrix.node-version == 24 && matrix.kafka-image == 'confluentinc/cp-kafka:7.9.5'
        env:
          KAFKA_IMAGE: ${{ matrix.kafka-image }}
        run: npm run test:coverage

      - name: Upload coverage to Codecov
        if: matrix.node-version == 24 && matrix.kafka-image == 'confluentinc/cp-kafka:7.9.5'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
          flags: unittests
          name: codecov
          fail_ci_if_error: true
